*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Caja{
    width: calc((100% / 3)-20px);
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid blue;
    float: left;
    margin: 100px;
}

#C01:hover{
    transform: rotate(50deg);
}

#C02:hover{
    transform: translate(100px);
}

#C03:hover{
    transform: scale(4, 3);
}