*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.Cont{
    background-color: aqua;
    border: 2px solid blue;
    color: blue;
    float: left;
    height: 100%;
    position: absolute;
}

.Encabezado{
    border: 2px solid blue;
    background-color: aqua;
    height: 2%;
}

#Header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: aqua;
}

#Sidebar{
    width: 30%;
}

#Content{
    left: 30%;
    width: 70%;
}