*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Contenedor{
    height: 100vh;
    width: 100vw;
    background-color: mediumaquamarine;
    justify-content: center;
    align-items: stretch;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    justify-items: stretch;
}

.Caja{
    /* width: 100px; */
    /* height: 100px; */
    background-color: aqua;
    border: 1px solid blue;
}

#C01{
    grid-column-start: 1;
    grid-column-end: 3;
    /* align-self: start; */
}




